USE guacamole_db;

UPDATE guacamole_user
SET password_hash = UNHEX(SHA2('REPLACE_ME_PASSWORD', 256)),
    password_salt = NULL,
    password_date = NOW()
WHERE entity_id = (SELECT entity_id FROM guacamole_entity WHERE name = 'guacadmin');

COMMIT;
